.nav {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__item {
    list-style-type: none;

    &:not(:first-child) {
      margin-left: rem-calc(52);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $maven-pro-font;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;
    line-height: unitless-lh(16, 19);
    color: $white;
    text-decoration: none;
    transition: $transition-main;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $pink-100;
    }
  }

  &__icon {
    width: rem-calc(16);
    height: rem-calc(16);
    margin-right: rem-calc(4);
  }

  &--header {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .nav__link--active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem-calc(2);
        background-color: currentColor;
        transform: translateY(100%);
        transition: $transition-main;
      }
    }

    .nav__icon {
      display: none;
    }
  }

  &--footer {
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100%;

      .nav__item {
        flex-grow: 1;
        margin: 0;
      }

      .nav__link {
        padding: rem-calc(12) 0;

        &--active {
          background-color: $blue-200;
          transition: $transition-main;

          &:hover,
          &:focus {
            background-color: rgba($blue-200, 0.5);
          }
        }
      }
    }

    .nav__icon {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
}
