<label class="checkbox">
  <input class="checkbox__input visually-hidden" type="checkbox" name="time-filter" value="{{label-text}}">
  {{label-text}}
  <span class="checkbox__mark"></span>
</label>
