<div class="switcher {{search-parent-selector}}">
  <input class="switcher__input visually-hidden" id="major" type="radio" name="switcher">
  <label class="switcher__label switcher__label-major" for="major">Major</label>

  <input class="switcher__input visually-hidden" id="minor" type="radio" name="switcher">
  <label class="switcher__label switcher__label-minor" for="minor">Minor</label>
</div>

{{!--
  search-parent-selector - form__search -> location in the form
--}}
