<ul class="socials js-socials">
  <li class="socials__item">
    <a class="socials__link" href="#" aria-label="Go to the instagram page" target="_blank" rel="noopener noreferrer">
      <span class="socials__icon fa-brands fa-instagram-square fa-xl" aria-hidden="true"></span>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#" aria-label="Go to the facebook page" target="_blank" rel="noopener noreferrer">
      <span class="socials__icon fa-brands fa-facebook-square fa-xl" aria-hidden="true"></span>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#" aria-label="Go to the twitter page" target="_blank" rel="noopener noreferrer">
      <span class="socials__icon fa-brands fa-twitter-square fa-xl" aria-hidden="true"></span>
    </a>
  </li>
</ul>

<button class="socials__item socials__item--dropdown js-socials__item--dropdown reset-button" aria-label="Open the list of social networks">
  <span class="socials__link">
    <span class="socials__icon fa-solid fa-share-nodes fa-xl" aria-hidden="true"></span>
  </span>
</button>

<script>
  const dropdown = document.querySelector(".js-socials");
  const buttonOpenDropdown = document.querySelector(".js-socials__item--dropdown");
  const toggleDropdown = () => {
    dropdown.classList.toggle("socials--open");
  };

  const closeDropdown = () => {
    dropdown.classList.remove("socials--open");
  };

  buttonOpenDropdown.addEventListener("click", function (e) {
    e.stopPropagation();
    toggleDropdown();
  });

  document.addEventListener("click", function (e) {
    closeDropdown();
  });
</script>
