<label class="{{search-parent-selector}}">
  <select class="select" name="plan-category">
    <option value="0" selected>All plans</option>
    <option value="1">Family</option>
    <option value="2">Work</option>
    <option value="3">Study</option>
    <option value="4">Wish</option>
  </select>
</label>

{{!--
  search-parent-selector - form__search -> location in the form
--}}
