<label class="{{search-parent-selector}}">
  <input class="search" type="search" name="search" placeholder="Search for plans">
</label>

{{!--
  search-parent-selector - form__search -> location in the form
--}}
