{{#extend "_site-layout" title="Homepage"}}
  {{#content "main-content"}}
    <h1 class="visually-hidden">Homepage</h1>

    {{> ../../components/form/form }}

    {{> ../../components/cards/cards }}
  {{/content}}
{{/extend}}
