<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="description">
  <meta name="keywords" content="task management, to-do list, daily planner, calendar, event scheduling, goals, planning">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}} | Site</title>

  <link href="content/css/styles.css" rel="stylesheet">

  <script defer src="https://kit.fontawesome.com/e5b047fdd5.js" crossorigin="anonymous"></script>
  <script defer src="content/js/runtime.js"></script>
  <script defer src="content/js/vendors.js"></script>
  <script defer src="content/js/app.js"></script>
</head>

<body>
  {{#block "body"}}
  {{/block}}
  {{#block "scripts"}}
  {{/block}}
</body>

</html>
