<footer class="footer">
  <div class="footer__wrapper container">
    {{> ../logo/logo location="footer"}}
    {{> ../nav/nav modificator="active" location="footer"}}
    {{> ../socials/socials}}
  </div>
</footer>
