font-face {
  font-family: "Maven Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("Maven Pro"), url("../fonts/mavenpro/Mavenpromedium.woff2") format("woff2"), url("../fonts/mavenpro/Mavenpromedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Maven Pro"), url("../fonts/mavenpro/Mavenprobold.woff2") format("woff2"), url("../fonts/mavenpro/Mavenprobold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/montserrat/montserratbold.woff2") format("woff2"), url("../fonts/montserrat/montserratbold.woff") format("woff");
  font-display: swap;
}
