.container {
  width: 100%;
  max-width: rem-calc(1188);
  height: 100%;
  margin: 0 auto;
  padding: 0 rem-calc(24);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.reset-button {
  margin: 0;
  padding: 0;
  width: auto;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  background: transparent;
  border: none;
  color: inherit;
  overflow: visible;
  outline: none;
}
